
$white: #fff;
$black: #000;

// Standard Hotaru
$hotaru--hair: #cec2db;
$hotaru--eyes: #b4c6e2;


$hotaru--shirt: #f9f9f9;
$hotaru--ribbon: #c54a4c; // #cc3333;
$hotaru--skirt: #423b43;

$hotaru--ribbon-alt: #9b7ca8;
$hotaru--dress: #40473e;
$hotaru--dress-trim: #6c6d7f;