// Standard Hotaru
$hotaru--hair: #cec2db;
$hotaru--eyes: #b4c6e2;

$hotaru--shirt: #f9f9f9;
$hotaru--ribbon: #c54a4c; // #cc3333;
$hotaru--skirt: #423b43;

$hotaru--ribbon-alt: #9b7ca8;
$hotaru--dress: #40473e;
$hotaru--dress-trim: #6c6d7f;

// Shades
$white: #fff;
$grey95: #f2f2f2;
$grey94: #efefef;
$grey87: #dedede;
$grey80: #ccc;
$grey67: #aaa;
$grey40: #666;
$onyx: #0f0f0f;
$black-blue: #1c1f2b;
$black-red: #420309;
$black-smokey: #100c08;
$black: #000;

// Blues
$mostly-blue: #0000ee;

// Greens
$green: #0f0;

// Reds
$red: #f00;
