@import './_variables';

.page-view {
  display: flex;

  &--column {
    flex-direction: column;
  }

  &__query-status {
    position: relative;
    max-width: 200px;
    max-height: 200px;
  }

  &__image {
    max-height: 300px;
    margin: {
      left: 0;
      top: 0;
    }
  }

  &__row {
    display: flex;
    align-items: flex-start;

    &--grow {
      flex: 1;
    }
    &--right {
      justify-content: flex-end;
    }
  }

  &__left-column {
    display: flex;
    flex-direction: column;
    flex-basis: 20%;
    padding: $app--padding-standard;

    &--grow {
      flex: 1;
    }
  }

  &__content {
    display: flex;
    flex-basis: 80%;
    flex-direction: column;
    outline: none;
  }
}

.view-info__header {
  margin: $app--margin-standard 0;
}

.htr-column__inner {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.span-column {
  width: 100%;
}
