@import './_variables';

.page-view {
  display: flex;

  &--column {
    flex-direction: column;
  }

  &__query-status {
    position: relative;
    max-width: 200px;
    max-height: 200px;
  }

  &__image {
    max-height: 300px;
    margin: {
      left: 0;
      top: 0;
    }
  }

  &__row {
    display: flex;
    align-items: flex-start;

    &--grow {
      flex: 1;
    }
    &--right {
      justify-content: flex-end;
    }
  }

  &__left-column {
    display: flex;
    flex-direction: column;
    flex-basis: 20%;
    padding: $app--padding-standard;

    &--grow {
      flex: 1;
    }
  }

  &__content {
    display: flex;
    flex-basis: 80%;
    flex-direction: column;
    outline: none;
  }

  &__tabs {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  &__error-message {
    font-size: 0.75em;
    color: $app--failure-background-colour;
    padding: 0 5px;
  }
}

.view-info__header {
  margin: $app--margin-standard 0;
}

.htr-column {
  &--image {
    flex-basis: 25%;
  }
  &__inner {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

.span-column {
  width: 100%;
}
