@import './_mixins';
@import './_variables';

@each $theme, $values in $theme-maps {
  $base-background: map-get($values, base-background);
  $base-colour: map-get($values, base-colour);
  $primary-background: map-get($values, primary-background);
  $primary-colour: map-get($values, primary-colour);
  $active-background: map-get($values, active-background);
  $active-colour: map-get($values, active-colour);
  $faded-out: map-get($values, faded-out);

  .theme--#{$theme} {
    background-color: $base-background;
    color: $base-colour;

    .select-box__input,
    .input-box__input {
      color: $base-colour;
    }

    // Inherit base background
    .multi-select__dropdown-container,
    .select-box__input,
    .dropdown__menu,
    .autocomplete__menu,
    .bracket__versus {
      background-color: $base-background;
      color: $base-colour;
    }
    .dropdown__arrow {
      border-bottom-color: $base-background;
    }

    // Primary
    .themed-background {
      background-color: $primary-background;
      color: $primary-colour;
      &--reversed {
        color: $primary-background;
        background-color: $primary-colour;
      }
    }
    svg.themed-background text {
      fill: $primary-colour;
    }
    .has-float-label input:focus,
    .has-float-label select:focus,
    .suggestion--active {
      border-color: $primary-background;
    }
    .versus__icon,
    .input-navi__menu,
    .input-navi input {
      background-color: $primary-background;
      color: $primary-colour;
    }
    .input-navi input:focus {
      border-color: $primary-colour;
    }
    .input-navi__menu .suggestion--active {
      border-color: $primary-colour;
    }
    .comparison-summary {
      border-top: 1px solid $primary-background;
    }
    .radio__input {
      color: $primary-background;
    }
    .image--empty {
      border-color: $primary-background;
    }

    // Navigation
    .nav-link {
      color: $base-colour;

      &:focus,
      &:hover,
      &--active_exact {
        color: $active-colour;
        font-weight: bold;
      }
    }

    .sidebar__link {
      color: $primary-colour;

      &:focus,
      &:hover,
      &.nav-link--active_exact {
        background-color: $active-background;
        color: $active-colour;
      }
    }

    // Buttons
    .htr-calendar__shift-button {
      background-color: $base-background;
      color: $base-colour;

      &:focus,
      &:hover {
        @include lighten-or-darken('background-color', $base-background, 10%);
      }
    }
    .button.themed-background {
      &:focus,
      &:hover {
        background-color: darken($primary-background, 10%);
      }
    }
    .button.themed-background--reversed {
      &:focus,
      &:hover {
        @include lighten-or-darken('background-color', $primary-colour, 10%);
      }
    }
    .dropdown__toggler {
      &:focus,
      &:hover {
        @include lighten-or-darken('color', $primary-colour, 10%);
      }
    }

    // Tabs
    .tabs__container {
      border-top: 1px solid $primary-background;
    }
    .tab:not(.tab--active):not(:hover) {
      background-color: $faded-out;
      border-color: $faded-out;
      border-bottom: none;
    }
    .tab--active,
    .tab:hover {
      border: {
        color: $primary-background;
        bottom-color: $base-background;
      }
    }

    // Calendar
    .date-range-picker.date-range-picker,
    .htr-calendar.htr-calendar {
      border-color: $primary-background;
    }
    .htr-calendar__view-option:not(.htr-calendar__view-option--header) {
      &:focus,
      &:hover {
        background-color: $active-background;
        color: $active-colour;
      }
    }
    .htr-calendar__view-option--selected {
      &,
      &:focus,
      &:hover {
        background-color: $active-background;
        color: $active-colour;
      }
    }

    // Ranking
    .rank__bubble {
      background-color: $active-background;
      color: $active-colour;
    }

    // Instance view
    .htr-instance-content.htr-instance-content--bracket {
      border-color: $primary-background;
    }

    // Link image
    .link-images {
      $link-image-class: map-get($values, link-image-class);

      &__#{$link-image-class} {
        display: block !important;
      }
    }

    // Honour styles
    .honour__context-label {
      background-color: $primary-background;
      color: $primary-colour;
    }
  }
}
