@import './_colours';

// Screen Variables
$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;

// Prevent overlapping
$screen-xs-max: ($screen-sm - 1);
$screen-sm-max: ($screen-md - 1);
$screen-md-max: ($screen-lg - 1);

// App Variables
$app--champion-background-colour: $white;
$app--champion-colour: $black-smokey;
$app--darken-amount: 5%;
$app--font-size: 16px;
$app--margin-large: 1.5em;
$app--margin-small: 0.1em;
$app--margin-standard: 0.5em;
$app--placeholder-border: 1px solid transparent;
$app--padding-small: 0.1em;
$app--padding-standard: 0.33em;

$app--failure-background-colour: $red;
$app--failure-colour: $white;
$app--info-background-colour: $cyan;
$app--success-background-colour: $green;
$app--success-colour: $white;
$app--warning-background-colour: $orange;
// App variables
$accent--colour: $hotaru--ribbon;

$anchor--colour: $mostly-blue;
$anchor--colour-hover: lighten($mostly-blue, $app--darken-amount * 3);

$button--darken-percentage: 5%;

$chip-tag--background: $grey87;

$header--height: 50px;

$nav-link--height: 50px;

$sidebar--width: 50px;

//z-index
$z-index: (
  wafer: 1,
  above-siblings: 10,
  sidebar: 50,
  header: 50,
  popover: 100,
  menu: 250,
  alert: 1000
);

// messaging
$ui-messaging: (
  success: (
    background: $app--success-background-colour,
    colour: #000,
    icon: '\2713'
  ),
  error: (
    background: $app--failure-background-colour,
    colour: #fff,
    icon: '\0021'
  ),
  warning: (
    background: $app--warning-background-colour,
    colour: #000,
    icon: '\26a0'
  ),
  info: (
    background: $app--info-background-colour,
    colour: #000,
    icon: '\2139'
  )
);
// Themes
$theme-maps: (
  one: (
    base-background: $hotaru--shirt,
    base-colour: $hotaru--skirt,
    primary-background: $hotaru--hair,
    primary-colour: $hotaru--shirt,
    active-background: $hotaru--eyes,
    active-colour: $hotaru--ribbon,
    faded-out: $grey80,
    link-image-class: 'dark'
  ),
  two: (
    base-background: $hotaru--dress,
    base-colour: $hotaru--shirt,
    primary-background: $hotaru--dress-trim,
    primary-colour: $hotaru--hair,
    active-background: $hotaru--ribbon-alt,
    active-colour: $hotaru--eyes,
    faded-out: $grey80,
    link-image-class: 'light'
  )
);
