@import './_colours';

// Screen Variables

$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;

// Prevent overlapping
$screen-xs-max: ($screen-sm - 1);
$screen-sm-max: ($screen-md - 1);
$screen-md-max: ($screen-lg - 1);

// App Variables

$app--font-size: 16px;
$app--placeholder-border: 1px solid transparent;
$app--standard-padding: 0.33em;

$button--darken-percentage: 5%;

$header--height: 50px;

$nav-link--height: 50px;

$sidebar--width: 50px;

// Themes
$theme-maps: (
  one: (
    base-background: $hotaru--shirt,
    base-colour: $hotaru--skirt,
    primary-background: $hotaru--hair,
    primary-colour: $hotaru--shirt
  )
);
