@import './_colours';

// Screen Variables
$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;

// Prevent overlapping
$screen-xs-max: ($screen-sm - 1);
$screen-sm-max: ($screen-md - 1);
$screen-md-max: ($screen-lg - 1);

// App Variables
$app--darken-amount: 5%;
$app--font-size: 16px;
$app--margin-standard: 0.5em;
$app--placeholder-border: 1px solid transparent;
$app--padding-small: 0.1em;
$app--padding-standard: 0.33em;
// App variables
$accent--colour: $hotaru--ribbon;

$anchor--colour: $mostly-blue;
$anchor--colour-hover: lighten($mostly-blue, $app--darken-amount * 3);

$button--darken-percentage: 5%;

$chip-tag--background: $grey87;

$header--height: 50px;

$nav-link--height: 50px;

$sidebar--width: 50px;

//z-index
$z-index: (
  wafer: 1,
  above-siblings: 10,
  header: 50,
  popover: 100,
  menu: 250,
  alert: 1000
);

// Themes
$theme-maps: (
  one: (
    base-background: $hotaru--shirt,
    base-colour: $hotaru--skirt,
    primary-background: $hotaru--hair,
    primary-colour: $hotaru--shirt,
    active-background: $hotaru--eyes,
    active-colour: $hotaru--ribbon,
    faded-out: $grey80
  ),
  two: (
    base-background: $hotaru--dress,
    base-colour: $hotaru--shirt,
    primary-background: $hotaru--dress-trim,
    primary-colour: $hotaru--hair,
    active-background: $hotaru--ribbon-alt,
    active-colour: $hotaru--eyes,
    faded-out: $grey80
  )
);
